
div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.container > * {
  margin: 20px 0px;
}
div.container > textarea {
  align-self: center;
  width: 800px;
  height: 300px;
  border-radius: 10px;
}